html,body{height:100%;width:100%;margin:0;font-size:1rem;font-family:serif;word-spacing:0.5rem; line-height:1.5;scroll-behavior: smooth}
body{background:#FFFFFF;overflow-x: hidden;gap: 0.125rem;display:grid;}

.grid-container{word-wrap:break-word;background: #FFFFFF;display: grid; gap: 0.125rem;width: 100%}

.header{display:grid;background-image:url(assets/LAND/HEADERBG.JPG);background-size: cover;background-position: center;
  background-repeat: no-repeat; text-align:center;position:relative;width: 100%;padding: 0}
.header h3{background: linear-gradient(to bottom, #FFFFFF 50%,  #FFFFFF);background-clip: text;color: transparent;font-weight:bold;margin: 0 auto;padding: 0}

.intro{text-align: center; color:#000000; font-family:serif;word-spacing:0.5rem; line-height:1.5;font-weight:normal; padding-top:0;padding-bottom:0;width: 100%;}
.intro p{animation:fadeBlink 7s ease-in-out infinite;padding-bottom: 0;padding-top: 0;margin-bottom: 0;
  margin-left: 3rem;margin-right: 3rem; font-size: 1rem;}
@media(min-width:1000px){.header p{font-size: 1.25rem}}
@keyframes fadeBlink{0%, 100%{opacity: 1}50%{opacity: 0}}

.team{background: #FFFFFF; display: grid;grid-template-columns: repeat(3, 1fr);padding: 0;width: 100%;justify-content: center; gap: 0.125rem;font-size: 0.5rem;word-spacing: 0.25rem}
@media(min-width:1000px){.team{display: grid;grid-template-columns: repeat(7, max-content);padding: 0;width: 100%;justify-content: center; gap: 3rem}}
 .team-h{display: grid; font-weight: bold;text-align: center; grid-column: span 3;font-size: 1rem;padding: 0;}
@media(min-width:1000px){ .team-h{display: grid; font-weight: bold;place-items: center start;grid-column: span 1;font-size: 1rem;padding: 0;}}
.team-h h7{}
.team-member{}
@media(min-width:1000px){.team-member{display: grid;gap: 0;padding: 0;margin: 0}}
.team-member-image img{display: block; width:50px;height: 50px;margin: 0 auto;padding: 0}
.team-member-title p{font-size: 0.75rem;font-weight: bold;text-align: center;padding: 0;margin: 0}

.category-card-land{display:grid;grid-template-columns:repeat(1, 1fr) ;gap: 0.125rem; background:#FFFFFF;width: 100%;}
@media(min-width:1000px){ .category-card-land{display:grid;grid-template-columns:repeat(2, 1fr) ;gap: 0.125rem; background:#FFFFFF;width: 100%;}}
.category-card-property{display:grid;grid-template-columns:repeat(1, 1fr) ; gap: 0.125rem;background:#FFFFFF;width: 100%;}
@media(min-width:1000px){ .category-card-property{display:grid;grid-template-columns:repeat(2, 1fr) ; gap: 0.125rem;background:#FFFFFF;width: 100%;}}
.category-card h4{text-align: center;color:#FFFFFF;margin: 0 auto;padding: 0}
.item-card-land{display:grid;grid-template-columns :repeat(1, 1fr)}
@media(min-width:1000px){.item-card-land{display:grid;grid-template-columns :repeat(3, 1fr)}}
.item-card-property{display:grid;grid-template-columns:repeat(1, 1fr) }
@media(min-width:1000px){.item-card-property{display:grid;grid-template-columns :repeat(3, 1fr)}}
.item-description-land{font-weight: normal;background:#00CD00;}
.item-description-property{font-weight: normal;background:#FAB900;}
.item-description-land p,.item-description-property p{text-align:left;color: #FFFFFF;font-size: 1rem;margin: 0.5rem auto;}
@media(min-width:1000px){.item-description-land p,.item-description-property p{margin-left: 0.25rem;color: #FFFFFF;text-align: left;font-size: 1rem}}
.item-image-land{grid-column: span 1;}
@media(min-width:1000px){.item-image-land{grid-column: span 2;}}
.item-image-property{grid-column: span 1;}
@media(min-width:1000px){.item-image-property{grid-column: span 2;}}
.item-image-land img,.item-image-property img{display:block;height: 300px;width: 100%}
.view-button-section-land{display: grid; grid-column: span 1;align-items:center;background:#FFFFFF}
@media(min-width:1000px){.view-button-section-land{display: grid; grid-column: span 2;align-items:center;background:#FFFFFF}}
.view-button-land{text-align:center ;border-radius: 0.25rem; background: linear-gradient(to bottom, #7DFF7D, #00CD00); 
  color:#000000;padding:0.5rem 1rem 0.5rem 1rem; text-decoration: none;margin:1rem auto;border:none;outline:none;font-size:1rem;font-weight:normal;}
.view-button-land:hover{background: #00CD00}
.view-button-section-property{display: grid; grid-column: span 1;align-items:center;background:#FFFFFF}
@media(min-width:1000px){.view-button-section-property{display: grid; grid-column: span 2;align-items:center;background:#FFFFFF}}
.view-button-property{text-align:center ;border-radius: 0.25rem; background: linear-gradient(to bottom,#FFD765, #FAB900); 
  color:#000000;padding:0.5rem 1rem 0.5rem 1rem; text-decoration: none;margin:1rem auto;border:none;outline:none;font-size:1rem;font-weight:normal;}
.view-button-property:hover{background: #FAB900}

.hidden {display: none;}

.license p{font-size: 1rem;text-align: center;font-style: italic;margin-bottom: 0}

.contacts{display: grid;justify-items: start;background:#FFFAFA }
.contact-detail{display:grid;grid-template-columns: max-content max-content; align-items: center; gap:0.5rem;font-size: 1rem}
.contact-detail img{width: 30px;height:30px;}
footer{background:#FFFAFA;text-align:center; color:#FF8C00;}
.endsection p{background: linear-gradient(to bottom,#000000 10%, #000000);background-clip: text;color: transparent;font-size:small}
